<link rel="stylesheet" href="/css/aboutus.css">
<div class="aboutus-page-container">
    <div class="aboutus-page">
        <div class="aboutus">
            <div class="text-heading">
                About us
                <hr>
            </div>
            <div class="details-container">
                <br>
                The Low End Studio is a game development studio based in Mumbai, India. It’s primary objective is to create immersive entertainable 2D and 3D video games.
The Low End Studio was founded in 2021 by Raghav Gohil when it launched the first title ‘Pixelsquare’s Adventures’ created with lots of love. It is a home studio, and we don’t have a fixed workplace yet, but the ambition to create a dedicated studio workplace with passionate members remains.
More than 3700+ people have downloaded our games since 2021 and we are striving to reach our goal by 2025. The goal is to create a full-fledged game development studio worthful of passionate gamers, game developers and artists. We have played and analyzed multiple games to create the best possible gaming experience for our valuable gamers and now we are taking it to the next level.
            <br><br>
            </div>
            <img src="/images/about-us/stats.png" alt="stats">
            <br><br>
            <div class="details-container">
                We have so many ideas to work on, it's pretty amazing. We are currently working on a new game which will be released soon.
                Also, we will be open to collaborations, freelancing and partnerships for small game projects once we have a small team of passionate developers. If you are a game developer, artist, musician, or a gamer, we’d love to hear from you. If you are interested, please <a href="/contactus">contact us</a>.
                <br><br>
                Aside from being a publishing website, we will also post weekly blogs about game development, design, art, music, etc. We will provide small tips and tricks, super awesome learning resources, case studies and much more. So make sure to subscribe to our <a href="#newsletter">newsletter</a> to get notified about our latest blogs and games!
            </div>
        </div>
    </div>
</div>