<link rel="stylesheet" href="/css/home.css">
<div class="index-page-container">
    <div class="index-page">
        <div class="hero-container">
            <div class="hero">
                <img class="background" src="/images/home/hero/4.jpg" alt="banner">
                {{!-- <video class="background" autoplay muted><source src="/images/home/hero/val.mp4" type="video/mp4"></source></video> --}}
                <div class="content-container">
                    <div class="content">
                        <div class="title">
                            <div class="colorspan-title">Handcrafting </div> games<br>for epic <div class="colorspan-title">gamers.</div>
                        </div>
                        <div class="description">
                            Awesome game development solutions for pc and mobile.
                        </div>
                        <button onclick="window.location.href = '/contactus';">
                            REQUEST A QUOTE
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="who-container">
            <div class="who">
                <div class="who-image-container">
                    <img src="/images/home/hero/2.jpg">
                </div>
                <div class="who-subject-container">
                    <div class="who-content">
                        <div class="title">
                            Who are <div class="colorspan">we?</div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="description">
                            ‘The Low End Studio’ is a game development studio based
in Mumbai, India, currently focused on creating original independent game IPs which are hosted on popular platforms such as <a href="https://the-low-end-studio.itch.io/">itch.io</a> and <a href="">google playstore</a>.
                        </div><br>
                        <button onclick="window.location.href = '/aboutus';">
                            ABOUT US
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="games-container">
            <div class="games">
                <div class="games-subject-container">
                    <div class="games-content">
                        <div class="title">
                            <div class="colorspan">Play</div> our latest games.
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="description">
                            Over the time, we’ve created many fun projects and we’d love you to take a visit and watch our awesome creations. Much more is soon to pile on our stack of created games. The 2019 lockdown propelled us to discover and innovate. Since then, we’ve created many games and we have many original ideas to work and ponder on.
                        </div><br>
                        <button onclick="window.location.href = '/games';">
                            SEE THE LATEST GAMES
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="build-container">
            <div class="build">
                <div class="build-subject-container">
                    <div class="build-content">
                        <div class="title">
                            Build with <div class="colorspan">us.</div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="description">
                            Sky isn’t the limit. There is no limit to what you can do. It’s time for you to unleash your superpowers! Join the crazy community of game developers and artists and build while exploring and learning with us.
                        </div><br>
                        <button onclick="window.location.href = 'https://discord.gg/rtjkAjc';">
                            JOIN THE DISCORD
                        </button>
                    </div>
                </div>
                <div class="build-image-container">
                    <img src="/images/home/hero/5.png">
                </div>
            </div>
        </div>
    </div>
</div>