<head>
    <title>404 Not found - The Low End Studio</title>
    <meta name="author" content="The Low End Studio">
    <link rel="stylesheet" href="/css/notfound.css">
</head>
<div class="notfound-page">
    <div class="notfound">
        <img src="/images/notfound/paper.gif" alt="where page image">
        <div class="notfound-content">
            <div class="notfound-text-heading">404 Page not found.</div>
            <div class="notfound-text-inner">
                <a href="/">Looks like the page you have been looking for is missing or it has been moved.</a>
            </div>
        </div>
    </div>
</div>