.termsandconditions-page-container
{
    width: 100%;
    height:auto;
    background-color: #0c0c0c;
}

.termsandconditions-page
{
    width: 90%;
    max-width: 1500px;
    max-height:auto;
    min-height: 100vh;
    margin:auto;
    padding-top: 110px;
    padding-bottom: 110px;
}

.termsandconditions-page .termsandconditions
{
    background-color: #191919;
    padding:30px;
    /* height: auto; */
    width:100%;
}

.termsandconditions-page .our-story
{
    background-color: #191919;
    padding:30px;
    margin-top: 20px;
    /* height: auto; */
    width:100%;
}

.termsandconditions-page .join-us
{
    background-color: #191919;
    padding:30px;
    margin-top: 20px;
    /* height: auto; */
    width:100%;
}

.termsandconditions-page .text-heading
{
    font-size:30px;
    color:white;
}

.termsandconditions-page .text-heading hr
{
    height:1px;
    border-width: 0px;
    width:270px;
    background-color:#FAD166;
    animation-name: text-heading;
    animation-duration: 1s;
}

.termsandconditions-page .details-container
{
    color:white;
    font-size: 17px;
    text-align: justify;
    scroll-behavior: smooth;
}

.termsandconditions-page a
{
    color:#FAD166;
}

.termsandconditions-page h2
{
    font-weight: normal;
}

/* 
Animations start from here:
*/

@keyframes text-heading {
    0%{width:0px;}
    100%{width:270px;}
}